### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.idea/*.xml
.idea
*.iml
.idea/libraries
out/
!**/src/main/**/out/
!**/src/test/**/out/
DesignPattern.iml
file.txt
newFile.txt
div.html
list.html

### Mac OS ###
.DS_Store